*{
    padding:0;
    margin:0;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
tr{
    width: 100%;
}
td{
      width: 34%;
      height:200px;
}

@media screen and (max-width: 480px) {
 	body{
         text-align: center;
         font-size:15px;
     }
     td{
           width: 34%;
           height:100px;
     }
 }
@media screen and (max-width: 350px) {
	body{
        text-align: center;
       font-size:15px;
    }
    td{
          width: 34%;
          height:100px;
    }
}