<web-app>
<!--    QRを読み込むためのサーブレット-->
    <servlet>
        <servlet-name>QRServlet</servlet-name>
        <servlet-class>QRServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QRServlet</servlet-name>
        <url-pattern>/QRServlet</url-pattern>
    </servlet-mapping>
<!--    最初に登録するためのサーブレット-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
<!--    Test用のSessionを消すためのサーブレット-->
    <servlet>
        <servlet-name>DeleteSessionServlet</servlet-name>
        <servlet-class>DeleteSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSessionServlet</servlet-name>
        <url-pattern>/DeleteSessionServlet</url-pattern>
    </servlet-mapping>
<!--    BINGOカード交換での最終確認をするサーブレット-->
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>ConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/ConfirmServlet</url-pattern>
    </servlet-mapping>
<!--    スタンプ一覧を表示させるJSP    -->
    <servlet>
        <servlet-name>stamp</servlet-name>
        <jsp-file>/stamp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>stamp</servlet-name>
        <url-pattern>/stamp</url-pattern>
    </servlet-mapping>
<!--    Sessionのタイムアウト時間の設定（10時間）-->
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
<!--    存在しないページにアクセスした場合のJSP-->
    <error-page>
        <error-code>404</error-code>
        <location>/notFound.jsp</location>
    </error-page>
<!--    例外が起きた場合のJSP-->
    <error-page>
        <exception-type>Exception.NotSessionAccessException</exception-type>
        <location>/notSessionAccess.jsp</location>
    </error-page>

</web-app>